* {
  margin: 0;
  padding: 0;
}
.headerContainer {
  position: relative;
}
.header {
  height: 100vh;
  position: absolute;
  z-index: 10;
}
.carousel {
  position: absolute;
}
.one {
  background-image: url('./pictures/header3.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.two {
  background-image: url('./pictures/header.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three {
  background-image: url('./pictures/header5.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.four {
  background-image: url('./pictures/header4.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  padding-top: 80vh;
}
@media (min-width:768px) {
  .logo {
    padding-top: 75vh;
  }
}
.about {
  background-color: #F2F0ED;
  overflow: auto;
  display: block;
}
.photos {
  background-color: #E7D8C9;
  height: 100vh;
}
.footer {
  background-color: #ECF8F8;
  height: 100vh;
}
#test img {
  width: 300px;
  height: 300px;
}
.square {
  width: 100%;
  padding-bottom: 33%;
  background-size: cover;
  background-position: center;
}
