* {
  margin: 0;
  padding: 0;
}
.header {
  background-image: url('./pictures/header.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about {
  background-color: blue;
  height: 100vh;
}
.photos {
  background-color: orange;
  height: 100vh;
}
.footer {
  background-color: yellow;
  height: 100vh;
}
